<!DOCTYPE html>
<html>
  <head>
    <title>AjaxApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "jQuety1", jquery_1_path %> $$
    <%= link_to "jQuety2", jquery_2_path %> $$
    <%= link_to "jQuety3", jquery_3_path %> $$
    <%= link_to "jQuety4", jquery_4_path %> $$
    <%= link_to "jQuety5", jquery_5_path %> $$
    <%= yield %>
  </body>
</html>
